<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <connectionStrings>
    <!--<add name="CRSConnectionString" connectionString="data source=CTSINTCOVOSCDB1;initial catalog=OneC_Core;Integrated Security=SSPI"/>-->
    <add name="TrainingRoomAppDBEntities" connectionString="metadata=res://*/TrainingRoom.csdl|res://*/TrainingRoom.ssdl|res://*/TrainingRoom.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=pc233118;Initial Catalog=TrainingRoomAppDB;User ID=sa;Password=password-1;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <system.web>
    <compilation debug="true" />
  </system.web>

</configuration>

